<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- /**
 * @author 김민찬
 * @since 2022.10.17
 * @version 1.0
 * 
 * <pre>
 * 수정일                       수정자                   수정내용
 * 2022.10.17     김민찬             최초 생성
 * </pre>
 */ -->
<mapper namespace="com.kosa.mapper.CartMapper">

   <resultMap type="com.kosa.domain.member.CartVO" id="cartMap">
    <result property="mid" column="mid"/>
    <result property="psid" column="psid"/>
    <result property="pquantity" column="pquantity"/>
    <association property="productDetail" resultMap="productMap"/><!-- 1:1은 association으로 가져오기 -->
  </resultMap>
  
  <resultMap type="com.kosa.domain.product.ProductDetailVO" id="productMap">
  		<result property="bname" column="bname"/>
    	<result property="pname" column="pname"/>
    	<result property="pccolorcode" column="pccolorcode"/>
    	<result property="pcimg1" column="pcimg1"/>
    	<result property="pcprice" column="pcprice"/>
    	<result property="psize" column="psize"/>
  </resultMap>
  
	<!-- 뷰에서  가져오기 -->
	<select id="selectList" resultMap="cartMap">
	SELECT member.mid, cart.psid, bname, pname, pccolorcode, pcimg1, pcprice, psize, pquantity  
	FROM cart, member, view_product_detail vpd
	WHERE cart.psid=vpd.psid
	AND member.mid = #{mid}
	</select>
	
	<!-- 카트에서 주문페이지로 넘어갈 목록 -->
	<select id="selectListWithEntryNum" resultMap="cartMap">
	select mid, psid, bname, pname, pccolorcode, pcimg1, pcprice, psize, pquantity
	from(
		SELECT rownum rn, member.mid, cart.psid, bname, pname, pccolorcode, pcimg1, pcprice, psize, pquantity  
		FROM cart, member, view_product_detail vpd
		WHERE cart.psid=vpd.psid
		AND member.mid = #{mid}
	    )
	where rn in
	<foreach item="entryNum" index="index" collection="entryNum" open="("
			close=")" separator=",">
	 #{entryNum}
	</foreach>
	
	
	</select>
	
	<!-- insert시에 mid와 psid는 fk이므로 부모데이터가 존재해야한다 -->
	<insert id ="insert">
	insert into cart 
	values( #{mid}, #{psid}, #{pquantity})
	</insert>

	<delete id = "delete">
		delete from cart where mid = #{mid} and psid = #{psid}	
	</delete>
	
	<update id="update">
		UPDATE cart
		SET
		pquantity = #{pquantity}
		where mid = #{mid} and psid = #{psid}
	</update>

	
</mapper>  
