<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- /** * @author 김민규 * @since 2022.10.18 * @version 1.0 * * <pre> * 수정일 
	수정자 수정내용 * 2022.10.18 김민규 최초 생성 * </pre> */ -->

<mapper namespace = "com.kosa.mapper.EventMapper">


	<select id="getEventList" resultType="com.kosa.domain.event.EventViewVO">
		select ETITLE, EISSUEDATE, EEXPIREDATE, EIMG from EVENT
		
	</select>

 
</mapper>