<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- /**
 * @author 신기원
 * @since 2022.10.14
 * @version 1.0
 * 
 * <pre>
 * 수정일              	수정자                   수정내용
 * 2022.10.14 	신기원  		최초 생성
 * 2022.10.20	신기원		회원 가입시 고정 값 지정	
 * 2022.10.26	신기원		회원 정보 수정 update 쿼리 생성	
 * 2022.10.27	신기원		회원 정보 수정 update 수정
 * </pre>
 */ -->
<mapper namespace="com.kosa.mapper.MemberMapper">
	
	<resultMap type="com.kosa.domain.member.MemberVO" id="memberMap">
    <result property="mid" column="mid"/>
    <result property="mpassword" column="mpassword"/>
    <result property="mname" column="mname"/>
    <result property="memail" column="memail"/>
    <result property="mphone" column="mphone"/>
    <result property="mtel" column="mtel"/>
    <result property="mzipcode" column="mzipcode"/>
    <result property="maddress1" column="maddress1"/>
    <result property="maddress2" column="maddress2"/>
    <result property="mtosno" column="mtosno"/>
    <result property="mgrade" column="mgrade"/>
    <result property="mmileage" column="mmileage"/>
    <collection property="couponList" resultMap="couponMap">
    </collection> 
  </resultMap>
  
  <resultMap type="com.kosa.domain.event.CouponDetailViewVO" id="couponMap">
    <result property="ecoupontitle" column="ecoupontitle"/>
    <result property="cpid" column="cpid"/>
    <result property="econtent" column="econtent"/>
    <result property="ediscount" column="ediscount"/>
    <result property="cpissuedate" column="cpissuedate"/>
    <result property="cpexpiredate" column="cpexpiredate"/>
    <result property="cpusedate" column="cpusedate"/>
  </resultMap>
	
	<insert id="join">
		insert into member(mid, mpassword, mname, memail, mphone, mbirth, mlogintype, mtosno, menabled, mrole, mgrade)
		values(#{mid}, #{mpassword}, #{mname}, #{memail}, #{mphone}, #{mbirth},'간편회원', 0, 1, 'ROLE_MEMBER', 1)
	</insert>
	
	<select id="findById" resultType="com.kosa.domain.member.MemberVO">
		select * from member
		where mid = #{mid}
	</select>
	
	<!-- 마이페이지 회원 정보 수정시 -->
	<update id="infoChange">
	update member set  memail = #{memail}, mphone = #{mphone}, mpassword = #{mpassword}, mtel = #{mtel, jdbcType=VARCHAR},
	 mzipcode = #{mzipcode, jdbcType=VARCHAR}, maddress1 = #{maddress1, jdbcType=VARCHAR}, maddress2 = #{maddress2, jdbcType=VARCHAR}, mtosno = #{mtosno, jdbcType=INTEGER}
	 where mid = #{mid} </update>
</mapper>


